
.base {
    background-image: url(/imagens/bg-3.jpg);
    background-color: rgb(216, 213, 213);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.047);
}

.tit0 {
    text-align: center;
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.333);
}
    

.desc0 {
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.564);
    border-bottom-style: solid;
    border-color: rgb(173, 173, 173);
    border-width: 3px;
    padding: 10px;
    border-radius: 10px;

}

body {
    background-color: rgb(204, 204, 204);
}


section article{
    padding: 1px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.133);
    margin-bottom: 20px;
    margin: 50px 200px;
 }


/* --------------------------------------------- */


.tit1 {
    background-color: rgb(235, 230, 230);
    padding: 8px;

    border-bottom-style: solid;
    border-color: rgb(173, 173, 173);
    border-width: 3px;


    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.desc1 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

/* --------------------------------------------- */

.tit2 {
    background-color: rgb(235, 230, 230);
    padding: 8px;

    border-bottom-style: solid;
    border-color: rgb(173, 173, 173);
    border-width: 3px;


    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.desc2 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

/* ---------------------------------------------- */

.tit3 {
    background-color: rgb(235, 230, 230);
    padding: 8px;

    border-bottom-style: solid;
    border-color: rgb(173, 173, 173);
    border-width: 3px;


    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.desc3 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    
}

/* ---------------------------------------------- */

.btn {
    position: relative;
    text-align: center;
    color: white;
    
}

.btn nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn nav ul {
    list-style: none;
    display: flex;
}

.btn nav ul li {
    margin-left: 10px;
}

.btn nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    background: rgba(0, 0, 0, 0.178);
    border: 1px solid white;
    border-radius: 5px;
}

.sa1 {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.226);
    color: blue;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;

}

footer {
    background-color: rgba(0, 0, 0, 0.497);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
}