body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-title {
    color: #2c3e50;
    font-size: 32px; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.list-wrapper {
    background-color: white;
    width: 90%;
    max-width: 600px; 
    max-height: 600px; 
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 20px; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item_imagem img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.list-item_content {
    flex-grow: 1;
}

.list-item_name {
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
    margin: 0;
}

.list-item_email {
    font-size: 16px;
    color: #7f8c8d;
    margin: 5px 0 0;
}

.list-item_action {
    display: none;
}


.list-item:hover .list-item_action {
    display: flex;
}

.list-item_action img {
    width: 20px;
    height: 20px;
}